body{
  margin:0;
  width: 100%;
  height: 100vh;
}

.Board{
    background: rgb(226, 226, 226);
}

.Board__draw, .circle-picker{
    cursor: url("./img/cursor.cur") , pointer;
    margin: 0 auto;
    border-radius: 20px;
}
.board__settings{
  float: right;
}
