@import "http://fxaeberhard.github.io/handdrawn.css/handdrawn.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 247, 236);
  width: 100%;
  padding: 0;
  overflow: auto;
}


.game__timer {
  border: 2px solid red;
  border-radius: 100px;
  background-color: white;
  text-align: center;
  width: 70px;
  height: 70px;
  font-size: 46px;
}

