@import "http://fxaeberhard.github.io/handdrawn.css/handdrawn.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fffaf1;
  width: 100%;
  padding: 0;
  overflow: auto;
}


