.Board {
  justify-items: center;
}

.Board__draw,
.Board__view {
  margin: 0 auto;
  background: #ffffff;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
  overflow: hidden;
}

.Board__draw {
  cursor: url("../img/brush.cur"), pointer;
}

.Board__draw:active {
  cursor: url("../img/brush-click.cur"), pointer;
}

.board__settings {
  float: right;
}