.Board {
  justify-items: center;
  display: grid;
  grid-template-columns:  1.4fr 0.4fr ;
  justify-items: center;
}

.Board__draw,
.Board__view {
  z-index: 0;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
  overflow: hidden;
}

.Board__draw {
  cursor: url("../img/brush.cur"), pointer;
}

.Board__draw:active {
  cursor: url("../img/brush-click.cur"), pointer;
}

.Board__settings {
    margin: 50% auto;
}

.Board__Colors{
  z-index: 1;
  position: absolute;
  transform: translate(450px, -250px);
}

.circle-picker {
  margin: 0;
}