.Board {
  margin: 0 auto;
  width: 80%;
  justify-items: center;
  display: grid;
  grid-template-columns: 3.6fr 1.1fr;
  justify-items: center;
}

.Board__canvas{
  grid-area: 1 / 1 / 2 / 2;
}

.Board__draw,
.View_board {
  z-index: 0;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
  overflow: hidden;
}

.View_board {
  margin-left: 10%;
}

.Board__draw {
  cursor: url("../img/brush.cur"), pointer;
}

.Board__draw:active {
  cursor: url("../img/brush-click.cur"), pointer;
}

.Board__settings--grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    ".";
  padding: 20px;
  margin: 0 auto;
}

.Board__settings--grid h1 {
  margin: 0;
}

.Board__settings {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #ececec;
  padding: 20px;
  border: 3px dashed #575757;
  border-radius: 4% 75% 6% 95%/95% 4% 92% 5%;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  transform: rotate(1deg);
}

.Board__settings--center {
  margin-top: 5%;
}

.circle-picker {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.Board__buttons {
  margin: 10px auto;
  width: 90%;
}