
body{
  margin:0;
  width: 100%;
  height: 100vh;
}

.Board{
    background: white;
}

.Board__draw, .Board__view{
    margin: 0 auto;
    background: #fff;
    border: solid black;
    border-color: black;
    border-width: 3px 3px 5px 5px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
    overflow: hidden;
  }

  .Board__draw{
    cursor: url("../img/brush.cur") , pointer;
  }

  .Board__draw:active{
    cursor: url("../img/brush-click.cur") , pointer;
  }

.board__settings{
  float: right;
}