.connectedUsers_title {
    width: fit-content;
    margin: 20px auto;
    font-weight: 400;
    font-size: 30px;
}

.connectedUsers__userList {
    display: flex;
    margin: 0 auto;
    clear: both;
    color: #000000;
    padding: 10px;
    list-style: none;
}

.userList__item {
    text-align: center;
    font-size: 30px;
    color: #585858;
    margin: 0 auto;
    height: 50vh;
    padding: 20px;
    border: 2px solid #919191;
    border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    width: 10%;
    height: fit-content;
    list-style: none;
    padding: 20px;
    margin: 5% auto;
    animation: draw 2s;
    animation-fill-mode: forwards;
}

.userList__item::before {
    display: none;
}

.userListInGame__item--correct {
    color: #20bf55;
}



@keyframes draw {
    0% {
        clip-path: polygon(
                /* Inner */
                min(8%, 13px) min(8%, 13px),
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                min(8%, 13px) min(8%, 13px),
                /* First line */
                0 0,
                0 0,
                0 0,
                /* Second line */
                0 0,
                0 0,
                0 0,
                0 0,
                0 0,
                /* Third line */
                0 0,
                0 0,
                0 0,
                0 0,
                0 0,
                /* Fourth line */
                0 0,
                0 0,
                0 0,
                0 0);
    }

    0.1% {
        clip-path: polygon(
                /* Inner */
                min(8%, 13px) min(8%, 13px),
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                min(8%, 13px) min(8%, 13px),
                /* First line */
                0 0,
                0 0,
                0 min(8%, 13px),
                /* Second line */
                min(8%, 13px) min(8%, 13px),
                0 0,
                0 0,
                0 0,
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                /* Third line */
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                100% 100%,
                100% 100%,
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                /* Fourth line */
                min(8%, 13px) calc(100% - min(8%, 13px)),
                0 100%,
                0 100%,
                min(8%, 13px) calc(100% - min(8%, 13px)));
    }

    23.9% {
        clip-path: polygon(
                /* Inner */
                min(8%, 13px) min(8%, 13px),
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                min(8%, 13px) min(8%, 13px),
                /* First line */
                0 0,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                /* Second line */
                calc(100% - min(8%, 13px)) 0,
                100% 0,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                /* Third line */
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                100% 100%,
                100% 100%,
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                /* Fourth line */
                min(8%, 13px) calc(100% - min(8%, 13px)),
                0 100%,
                0 100%,
                min(8%, 13px) calc(100% - min(8%, 13px)));
    }

    50% {
        clip-path: polygon(
                /* Inner */
                min(8%, 13px) min(8%, 13px),
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                min(8%, 13px) min(8%, 13px),
                /* First line */
                0 0,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                /* Second line */
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                100% 100%,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                /* Third line */
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                100% 100%,
                100% 100%,
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                /* Fourth line */
                min(8%, 13px) calc(100% - min(8%, 13px)),
                0 100%,
                0 100%,
                min(8%, 13px) calc(100% - min(8%, 13px)));
    }

    73.9% {
        clip-path: polygon(
                /* Inner */
                min(8%, 13px) min(8%, 13px),
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                min(8%, 13px) min(8%, 13px),
                /* First line */
                0 0,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                /* Second line */
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                100% 100%,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                /* Third line */
                min(8%, 13px) calc(100% - min(8%, 13px)),
                0 100%,
                100% 100%,
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                /* Fourth line */
                min(8%, 13px) calc(100% - min(8%, 13px)),
                0 100%,
                0 100%,
                min(8%, 13px) calc(100% - min(8%, 13px)));
    }

    100% {
        clip-path: polygon(
                /* Inner */
                min(8%, 13px) min(8%, 13px),
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                min(8%, 13px) min(8%, 13px),
                /* First line */
                0 0,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                /* Second line */
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                100% 100%,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                /* Third line */
                min(8%, 13px) calc(100% - min(8%, 13px)),
                0 100%,
                100% 100%,
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                /* Fourth line */
                min(8%, 13px) min(8%, 13px),
                0 0,
                0 100%,
                min(8%, 13px) calc(100% - min(8%, 13px)));
    }

}



/* ========================================================================================================================================================================= */
/* =======================================================================CONECTED USERS IN GAME============================================================================ */
/* ========================================================================================================================================================================= */


.game__connectedUsersInGame {
    margin: 25px;
    width: 80%;
    height: max-content;
    border: dashed;
    border-color: #535353;
    border-width: 2px 3px 2px 2px;
    border-radius: 10% 10% 92% 5%/4% 10% 6% 10%;
    transform: rotate(-1deg);
    overflow-x: hidden;
    overflow-y: auto;
}

.userListInGame__item:before{
    display: none;
}

.userListInGame__item{
    font-size: 200%;
}

.GameItem__name p{
    margin: 0;
}

#userList{
    padding: 20px;
}

.GameItem__name{
    margin: 10px;
    border: solid ;
    padding: 15px;
    border-width: 2px 3px 2px 2px;
    border-radius: 10% 10% 92% 5%/4% 10% 6% 10%;
    transform: rotate(-1deg);
    transition: all 0.2s;
}

.GameItem__name:hover{
    box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.2);

}
