.game {
    display: grid;
    grid-template-columns: 0.5fr 1.4fr;
    gap: 0px 20px;
    justify-items: center;
}

.game__left {
    width: 100%;
}

.game__right {
    width: 100%;
}

.WordGuess {
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.Description__text {
    text-align: center;
    letter-spacing: 1px;
    font-size: 120%;
}

.game__description {
    display: none;
}

.game__word:hover .game__description {
    display: block;
}

.Description {
    justify-items: center;
}

.game__timer {
    border: 2px dotted #005f0d;
    float: right;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 200%;
    transform: rotate(-1deg);
    transition: all 0.2s;
}


.WordForm{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
