.game {
    display: grid;
    grid-template-columns: 0.5fr 1.4fr;
    justify-items: center;
}
.View{
    margin-top: 5%;;
}

.game__left {
    width: 100%;
    margin: 10% auto;
}

.game__right {
    width: 90%;
    margin-right:10%;
}

.WordGuess {
    font-size: 300%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.Description__text {
    text-align: center;
    letter-spacing: 1px;
    font-size: 120%;
}

.game__description {
    display: none;
}

.game__word:hover .game__description {
    display: block;
}

.Description {
    justify-items: center;
}

.game__timer {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90px;
    height: 90px;
    font-size: 200%;
    border: 3px solid #575757;
    border-radius: 4% 75% 6% 95%/95% 4% 92% 5%;
    transform: rotate(1deg);    
    transition: all 0.2s;
    margin: 6% auto;
}

.Board__timer{
    margin: 0 0 0 50%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}


.WordForm{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.WordForm__input{
    width: 60%;
    height: 30px;
}