@font-face{
    font-family: comicAndy;
    src: url("../fonts/comic_andy/Comic_Andy.ttf");
}

@font-face{
    font-family: futuraHandwritten;
    src: url("../fonts/futurahandwritten/FuturaHandwritten.ttf");
}

@font-face{
    font-family: listerFilled;
    src: url("../fonts/lister/Lister.ttf");
}

@font-face{
    font-family: lister;
    src: url("../fonts/lister/ListerHollow.ttf");
}

@font-face{
    font-family: matSaleh;
    src: url("../fonts/mat_saleh/Mat\ Saleh.ttf");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  
}
html, body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



