h1 {
    text-align: center;
}

#border {
    border: 2px solid #919191;
    border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    width: 70%;
    height: fit-content;
    padding: 20px;
    margin: 5% auto;
}

.ldPage__title {
    text-align: center;
    font-size: 100px;
    padding-top: 50px;
    width: fit-content;
    margin: 100px auto;
}
span{
    margin-right: 3px;
    margin-left: 3px;
}

span:nth-child(1):hover {
    color: cornflowerblue;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(2):hover {
    color: #d8d86a;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(3):hover {
    color: #71a071;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(4):hover {
    color: #ff8fc3;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(5):hover {
    color: #c23535;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(6):hover {
    color: #ff7b00;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(7):hover {
    color: #39aa9b;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(8):hover {
    color: #6666e2;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(9):hover {
    color: #7fd457;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(10):hover {
    color: #d066fa;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

.ldPage__button1,
.ldPage__button2 {
    width: 250px;
    font-size: 30px;
    margin: 10px;
    height: 60px;
    color: white;
    background-color: #5c5b5b;
    border-color: #5c5b5b;
}

.ldPage__button1:hover {
    border: 2px solid #fa75b3;
    background: none;
    color: #32633a;
    transition: color 0.2s;
    box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.7s;
}

.ldPage__button2:hover {
    border: 2px solid #fa8a4a;
    background: none;
    color: #382af5;
    transition: color 0.2s;
    box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.7s;
}

.ldPage__buttonsContainer {
    padding: 20px;
    justify-content: center;
    align-self: center;
    margin: 100px auto;
    width: 200px;
}

.is-drawn {
    animation: draw 2s;
    animation-fill-mode: forwards;
}

.is-undrawn {
    animation: draw-reverse 2s;
    animation-fill-mode: forwards;
}

@keyframes draw {
    0% {
        clip-path: polygon(
                /* Inner */
                min(8%, 13px) min(8%, 13px),
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                min(8%, 13px) min(8%, 13px),
                /* First line */
                0 0,
                0 0,
                0 0,
                /* Second line */
                0 0,
                0 0,
                0 0,
                0 0,
                0 0,
                /* Third line */
                0 0,
                0 0,
                0 0,
                0 0,
                0 0,
                /* Fourth line */
                0 0,
                0 0,
                0 0,
                0 0);
    }

    0.1% {
        clip-path: polygon(
                /* Inner */
                min(8%, 13px) min(8%, 13px),
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                min(8%, 13px) min(8%, 13px),
                /* First line */
                0 0,
                0 0,
                0 min(8%, 13px),
                /* Second line */
                min(8%, 13px) min(8%, 13px),
                0 0,
                0 0,
                0 0,
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                /* Third line */
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                100% 100%,
                100% 100%,
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                /* Fourth line */
                min(8%, 13px) calc(100% - min(8%, 13px)),
                0 100%,
                0 100%,
                min(8%, 13px) calc(100% - min(8%, 13px)));
    }

    23.9% {
        clip-path: polygon(
                /* Inner */
                min(8%, 13px) min(8%, 13px),
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                min(8%, 13px) min(8%, 13px),
                /* First line */
                0 0,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                /* Second line */
                calc(100% - min(8%, 13px)) 0,
                100% 0,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                /* Third line */
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                100% 100%,
                100% 100%,
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                /* Fourth line */
                min(8%, 13px) calc(100% - min(8%, 13px)),
                0 100%,
                0 100%,
                min(8%, 13px) calc(100% - min(8%, 13px)));
    }

    50% {
        clip-path: polygon(
                /* Inner */
                min(8%, 13px) min(8%, 13px),
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                min(8%, 13px) min(8%, 13px),
                /* First line */
                0 0,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                /* Second line */
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                100% 100%,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                /* Third line */
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                100% 100%,
                100% 100%,
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                /* Fourth line */
                min(8%, 13px) calc(100% - min(8%, 13px)),
                0 100%,
                0 100%,
                min(8%, 13px) calc(100% - min(8%, 13px)));
    }

    73.9% {
        clip-path: polygon(
                /* Inner */
                min(8%, 13px) min(8%, 13px),
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                min(8%, 13px) min(8%, 13px),
                /* First line */
                0 0,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                /* Second line */
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                100% 100%,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                /* Third line */
                min(8%, 13px) calc(100% - min(8%, 13px)),
                0 100%,
                100% 100%,
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                /* Fourth line */
                min(8%, 13px) calc(100% - min(8%, 13px)),
                0 100%,
                0 100%,
                min(8%, 13px) calc(100% - min(8%, 13px)));
    }

    100% {
        clip-path: polygon(
                /* Inner */
                min(8%, 13px) min(8%, 13px),
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                min(8%, 13px) min(8%, 13px),
                /* First line */
                0 0,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                /* Second line */
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                100% 100%,
                100% 0,
                calc(100% - min(8%, 13px)) min(8%, 13px),
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                /* Third line */
                min(8%, 13px) calc(100% - min(8%, 13px)),
                0 100%,
                100% 100%,
                calc(100% - min(8%, 13px)) calc(100% - min(8%, 13px)),
                min(8%, 13px) calc(100% - min(8%, 13px)),
                /* Fourth line */
                min(8%, 13px) min(8%, 13px),
                0 0,
                0 100%,
                min(8%, 13px) calc(100% - min(8%, 13px)));
    }

}