
.ldPage{
    border: 1px solid #000;
    height: 99vh;
    
  }

.ldPage__title{
    font-family: lister;
    margin-top: 9rem;
    text-align: center;
    color: #41403e;
    font-size: 6rem;
  }
  
  .ldPage__loginButton{
    width: fit-content; 
  }
  
  .ldPage__buttonsContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    
  } 

   .ldPage__buttons{
    margin-top: 20%;
    width: fit-content;
  }   
  .icon-edit{
    font-size: 25px;
}
  .ldPage__buttons i:before  {
    font-size: 1rem;
  }

  .ldPage__buttons:hover {
    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
  }
  
  


/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;  
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


@media screen and (min-width: 600px) {
  .ldPage__buttonsContainer{
    flex-direction: row; 
  } 

  .ldPage__buttons{
    margin: 5px;
  }
}