
.ldPage{
    border: 1px solid #000;
    height: 99vh;
    
  }

.ldPage__title{
    font-family: lister;
    margin-top: 9rem;
    text-align: center;
    color: #41403e;
    font-size: 6rem;
  }
  
  .ldPage__loginButton{
    width: fit-content; 
  }
  
  .ldPage__buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
  } 

  .ldPage__buttons{
    font-size: 2em;
  }  

  .ldPage__buttons:hover {
    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
  }
  