.createGame__leaveButton {
    width: fit-content;
    font-size: 30px;
    margin: 30px;
    height: 60px;
    justify-content: center;
    color: white;
    background-color: #5c5b5b;
    border-color: #5c5b5b;
}

.identifier {
    letter-spacing: 4px;
    text-align: center;
    font-size: 40px;
}

.createGame__startButtonDiv {
    margin: 0 auto;
    width: fit-content;
}

.createGame__startButton {
    width: fit-content;
    font-size: 30px;
    height: 60px;
    justify-content: center;
    color: white;
    background-color: #5c5b5b;
    border-color: #5c5b5b;
}

.createGame__startButton:hover {
    border: 2px solid #fa75b3;
    background: none;
    color: #32633a;
    transition: color 0.2s;
    box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.7s;
}

.createGame__leaveButton:hover {
    border: 2px solid #fa8a4a;
    background: none;
    color: #382af5;
    transition: color 0.2s;
    box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.7s;
}

span {
    margin-right: 3px;
    margin-left: 3px;
}

span:nth-child(1):hover {
    color: cornflowerblue;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(2):hover {
    color: #d8d86a;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(3):hover {
    color: #71a071;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(4):hover {
    color: #ff8fc3;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(5):hover {
    color: #c23535;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(6):hover {
    color: #ff7b00;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(7):hover {
    color: #39aa9b;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(8):hover {
    color: #6666e2;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(9):hover {
    color: #7fd457;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(10):hover {
    color: #d066fa;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

span:nth-child(11):hover {
    color: #9afa66;
    transform: translate(0px, -10px);
    display: inline-block;
    transition: all 0.01s ease-in-out;
}

#copyId {
    cursor: copy;
}

#copyId p {
    display: none;
    font-size: 15px;
    color: #031e2e;
    opacity: 0.0;
    transition: all 2s;
}

#copyId:hover p {
    position: absolute;
    display: block;
    opacity: 1.0;
}