.ranking__container {
    background-color: lightcoral;
    width: 50%;
}

.ranking__leader {
    background-color: #fffaf4;
    border: 2px solid #919191;
    border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    width: 35%;
    height: 60px;
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    font-size: 30px;
}

.topLeadersList>div:nth-child(1)>div:nth-child(1) {
    background-color: rgb(224, 224, 0);
    z-index: 3;
    position: relative;
    font-size: 40px
}

.topLeadersList>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) {
    position: relative;
    top: -70px;
}

.topLeadersList>div:nth-child(2)>div:nth-child(1) {
    background-color: rgb(192, 192, 192);
    position: relative;
    top: 3px;
    left: -25%;
    z-index: 2;
    height: 50px;
    width: 30%;
    font-size: 30px
}

.leader__name{
    position: relative;
    top: -60px;
}

.topLeadersList>div:nth-child(3)>div:nth-child(1) {
    background-color: rgb(252, 158, 64);
    position: relative;
    top: -140px;
    left: 25%;
    height: 40px;
    width: 30%;
}

.leader__points {
    position: relative;
    top: -15px;
}

.topLeadersList > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) {
    top: -25px;
}

.ranking__listPlayers {
    position: relative;
    top: -133px;
}

.ranking__player {
    background-color: #c3d8ff;
    border: 2px solid rgb(69, 168, 255);
    border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    width: 30%;
    height: 5%;
    padding: 20px;
    margin: 30px auto;
    font-size: 25px;
}

div.player:nth-child(odd)>span:nth-child(1)>div:nth-child(1) {
    background-color: rgb(223, 240, 255);
    border: 2px solid rgb(69, 168, 255);
}

.player__name {
    padding-left: 14px;
}

.player__points {
    float: right;
}

.back__button {
    width: 150px;
    height: 30px;
    font-size: 20px;
    margin: 15px;
}


.fade-item {
    transition: 2s all ease-in-out;
    opacity: 0;
}

.fadein {
    animation: fadeIn 0.9s 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.leader__avatar{
    width: 80px;
}